*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 9px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('background.jpg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
    /*border: 1px solid white;*/
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
    
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
.btn{
    padding: 10px 35 px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}

/* About Section */
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 50px;
    margin-bottom: 50px;
}
#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 400px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 80px;
}
#intro h2{
    padding: 50px;
    font-size: 2rem;
    margin-bottom: 20px;
}
/* Portfolio Section */
#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    max-width: 360px;
    margin: 10px;
    
}

/* Experience and Skills Section */
.skills {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-content: center;
    align-items: center
}
.experience {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-content: center;
    align-items: center;
}
.experience h2{
    align-content: center;
    padding: 30px;
}
.skills h2{
    align-content: space-around;
    padding: 30px;
}
#EandS{
    align-content: center
}
.EandS {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-left: 160px;
    padding: 30px;
    
    
}

/* Resume and Contact Info*/
#RandCI {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.RandCI {
    display: flex;
    flex-direction: row;
    padding: 100px;
    height: 600px;
    align-items: center;
}
#contactInfo {
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.contactInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding: 50px;
    
}

.resume{

    padding: 50px;
    align-items: center;
    

    
}

.gallery {
    display: flex
}